process {
    withName:Vardict {
        container = '/media/tronghieu/HNSD01/singularity_imgs/vardict_1.8.2.sif'
    }
    withName:Variant_calling_for_NORMAL_samples {
        container = '/media/tronghieu/HNSD01/singularity_imgs/gatk4.2.4.sif'
    }
    withName:CreatePanelOfNormals {
        container = '/media/tronghieu/HNSD01/singularity_imgs/gatk4.2.4.sif'
    }
    withName:SomaticCalling_GATK {
        container = '/media/tronghieu/HNSD01/singularity_imgs/gatk4.2.4.sif'
    }
    withName:Filter_variants {
        container = '/media/tronghieu/HNSD01/singularity_imgs/gatk4.2.4.sif'
    }
}
singularity.enabled = true
singularity.autoMounts = true
